{% extends 'base.html.twig' %}

{% block title %}Hello NavController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('asset/style.css') }}" />
<nav>

    <a href="accueil.html" class="case">
        <img class="accueil__image" src="Cursed1.png">
        <h2>Accueil</h2>
    </a>

    <a href="accueil.html" class="case">
        <img class="accueil__image" src="Cursed1.png">
        <h2>Calendrier</h2>
    </a>

    <a href="accueil.html" class="case">
        <img class="accueil__image" src="Cursed1.png">
        <h2>Tchat</h2>
    </a>

    <a href="accueil.html" class="case">
        <img class="accueil__image" src="Cursed1.png">
        <h2>Notification</h2>
    </a>

    <a href="accueil.html" class="case">
        <img class="accueil__image" src="Cursed1.png">
        <h2>Profil</h2>
    </a>

</nav>
<section id="banner">
    <img id="banner__notif" src="">
    <img id="banner__profil" src="">

</section>
<footer>
    <div class="ref">
        <h2>Contact :</h2>
        <h3>nemp@gmail.com</h3>
    </div>
    <div class="ref">
        <h2> Réseaux Sociaux</h2>
        <div class="ref__p1">
            <img class="ref__image " src="./SAE301/Cursed1.png">
            <h3>capitaine_nemo</h3>
        </div>
        <div class="ref__p2">
            <img class="ref__image " src="./SAE301/Cursed1.png">
            <h3>PierroPipo</h3>
        </div>
    </div>
{% endblock %}
